<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/augusto-de-sousa.jpg" class="photo"><br/>
<span class="name">António Augusto de Sousa</span><br/>
<span class="department">DEI – Departamento de Engenharia Informática
</span><br/>
<span class="position">Professor Associado</span><br/>
<span class="email"><a href="mailto:augusto.sousa@fe.up.pt">augusto.sousa@fe.up.pt</a></span><br/>

<p>A. Augusto de Sousa terminou o seu doutoramento em 1996 na FEUP, nas áreas de Computação Gráfica/Síntese de Imagem e Computação Paralela. É docente na FEUP desde 1983, em áreas relacionadas com a Computação Gráfica e Arquitetura de Computadores.</p>

<p>É investigador no INESC TEC desde 1985, onde desempenhou funções de coordenador da Unidade de Sistemas de Informação e Computação Gráfica. Foi membro da primeira Direção do curso de Licenciatura em Jornalismo e Ciências da Comunicação da Universidade do Porto, responsável pela instalação do curso (2000-2003). É, desde 2005, membro da Comissão Científica do Programa Doutoral em Engenharia Informática e, desde 2008, diretor do curso de Mestrado Integrado em Engenharia Informática e Computação, ambos da FEUP. É membro do Conselho de Departamento do Departamento de Engenharia Informática e membro eleito do Conselho Pedagógico da FEUP.</p>

<p>A. Augusto de Sousa tem estado envolvido em vários projetos de I&D genericamente relacionadas com Interação Avançada/Intuitiva, Síntese de Imagem e Realidade Virtual. Foi e é Investigador Responsável de vários projetos financiados pela FCT em Processamento e Visualização de Dados Espácio-temporais, em Modelação Expedita e Visualização de Ambientes Virtuais Urbanos e em Ambientes Virtuais Multissensoriais.</p>

<p>Foi Presidente e Vice-Presidente do EUROGRAPHICS Portuguese Chapter, bem como membro da Comissão Executiva da associação europeia EUROGRAPHICS.</p>