<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/antonio-mendes-ferreira.jpg" class="photo"><br/>
<span class="name">António Joaquim Mendes Ferreira</span><br/>
<span class="department">DEMec – Departamento de Engenharia Mecânica</span><br/>
<span class="position">Professor Catedrático</span><br/>
<span class="email"><a href="mailto:ferreira@fe.up.pt">ferreira@fe.up.pt</a></span><br/>

<p>António Joaquim Mendes Ferreira é Professor Catedrático do Departamento de Engenharia Mecânica da Universidade do Porto.</p>

<p>Membro da Comissão Executiva do DEMec durante mais de 15 anos, Membro do Conselho do DEMec.</p>

<p>Membro do Conselho Europeu de Materiais Compósitos, Editor-Chefe da revista Composite Structures da Elsevier.</p>

<p>Autor de 2 livros e de 160 artigos em revistas internacionais. Factor H de 28.</p>