<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/adriano-carvalho.jpg" class="photo"><br/>
<span class="name">Adriano da Silva Carvalho</span><br/>
<span class="department">DEEC – Departamento de Engenharia Eletrotécnica e Computadores</span><br/>
<span class="position">Professor Associado com Agregação</span><br/>
<span class="email"><a href="mailto:asc@fe.up.pt ">asc@fe.up.pt</a></span><br/>

<p>Adriano da Silva Carvalho é docente na Faculdade de Engenharia da Universidade do Porto (FEUP) desde 1976. É atualmente Professor Associado com Agregação do Departamento de Engenharia Eletrotécnica e de Computadores e é também investigador ISR-Porto.</p>

<p>As atividades docente e de investigação estão na área de Automação e Conversão de Energia, e nesta, em particular, interessa-se pelo domínio da Eletrónica para a Energia e Transportes. Tem participado ativamente na melhoria da oferta educativa e desenvolvido capacidades de I&D&I nestas áreas, numa abordagem de trabalho em equipa potenciadora de mais e melhores resultados.</p>

<p>Nos últimos anos, em particular no atual campus da FEUP, foi diretor LEEC/MIEEC de 2001 a 2010, tem sido membro do Conselho Pedagógico de 2001 até à data, do Conselho Científico de 2001 até à data, e do Conselho do Departamento do DEEC. Na atividade letiva, é coordenador da Área Disciplinar Conversão de Energia, e na atividade de I&D coordena o Grupo de Eletrónica Industrial do ISR-Porto.</p>