<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/ana-maria-mendonca.jpg" class="photo"><br/>
<span class="name">Ana Maria Rodrigues de Sousa Faria de Mendonça</span><br/>
<span class="department">DEEC – Departamento de Engenharia Eletrotécnica e Computadores</span><br/>
<span class="position">Professora Associada</span><br/>
<span class="email"><a href="mailto:amendon@fe.up.pt">amendon@fe.up.pt</a></span><br/>

<p>Ana Maria Rodrigues de Sousa Faria de Mendonça é licenciada em Engenharia Eletrotécnica pela FEUP, 1981, e doutorada em Engenharia Eletrotécnica e de Computadores pela FEUP, 1994.</p>

<p>Tem estado envolvida em trabalho de investigação e desenvolvimento em Engenharia Biomédica, e em especial em Processamento e Análise de Imagem Biomédica, desde 1989. É Diretora do MEB, Diretora Adjunta do MIB e membro das Comissões Científicas do MIB e do PRODEB. É membro da Comissão Executiva e do Conselho de Departamento do DEEC. É Presidente da Direção do INEB-Instituto de Engenharia Biomédica desde Dezembro de 2012. É membro da Comissão de Gestão e Orientação do I3S desde Maio de 2013.</p>

<p>Na FEUP, foi membro do Conselho Científico, 1994-2010, foi membro da Comissão Executiva do DEEC, 1996-2001 e 2006-2010, e foi membro do Conselho de Departamento, 2001-2010. Foi membro da Comissão Científica do MEB, 2006-2009. Foi membro da Direção do INEB, 2002-2012.</p>