<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/afonso-serra-neves.jpg" class="photo"><br/>
<span class="name">Afonso António de Serra Neves</span><br/>
<span class="department">DEC – Departamento de Engenharia Civil</span><br/>
<span class="position">Professor Associado</span><br/>
<span class="email"><a href="mailto:asneves@fe.up.pt">asneves@fe.up.pt</a></span><br/>

<p>Afonso António de Serra Neves é licenciado em Engenharia Civil pela FEUP, 1974, e doutorado em Engenharia de Estruturas pela Faculdade de Engenharia da Universidade do Porto, 1989. Realizou provas de agregação em 2005.</p>

<p>Ao longo dos últimos 30 anos tem estado envolvido em trabalho experimental e teórico na área de Engenharia de Estruturas e nos últimos 8 anos, também na área dos materiais estruturais. É Presidente da Direção do LEMC – Laboratório de Ensaio de Materiais de Construção. É membro do Conselho de Departamento do DEC. É membro da Comissão de Avaliação de Relatórios de Projetos FCT na Área ECM.</p>

<p>Integrou na FEUP a Comissão Executiva do Conselho Diretivo do DEC e a Comissão de Acompanhamento do MIEC, foi vice presidente do Conselho Pedagógico, foi Diretor de Curso da Licenciatura em Engenharia Civil. Integrou a Comissão Organizadora de vários congressos nacionais e internacionais.</p>