<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/antonio-torres-marques.jpg" class="photo"><br/>
<span class="name">António Torres Marques</span><br/>
<span class="department">DEMec – Departamento de Engenharia Mecânica</span><br/>
<span class="position">Professor Catedrático</span><br/>
<span class="email"><a href="mailto:marques@fe.up.pt">marques@fe.up.pt</a></span><br/>

<p>António Torres Marques nasceu no Porto, Portugal, em 12 de setembro de 1950, licenciou-se em Engenharia Mecânica na Faculdade de Engenharia da Universidade do Porto em 1972, tem um Mestrado em Polímeros (1977) e um Doutoramento (1981) em Materiais Compósitos do Cranfield Institute of Technology (UK). É, desde fevereiro de 2002, Professor Catedrático no Departamento de Engenharia Mecânica.</p>

<p>As suas áreas de interesse, na investigação e ensino, são Polímeros e Compósitos de Matriz Polimérica, Biomecânica, Saúde e Segurança Ocupacional. </p>

<p>Pertenceu à Comissão Promotora e Coordenadora do Mestrado em Materiais e Processo de Fabrico, portaria 493/83 de 29/4 (1ª ed. - 1983/85) e presidiu, de 2000-2008, à Comissão Coordenadora do Mestrado em Design Industrial (criado por decisão do Senado da UP, publicada em DR II série 28/6/2000) 1ª ed. - 2000/02. É membro da Comissão Científica e foi Diretor, na FEUP, do Programa Doutoral em Líderes para Indústrias Tecnológica, de setembro de 2006/março 2011. </p>

<p>Foi membro do Conselho Geral da UP, 2009/2013.</p>

<p>Foi eleito para a Assembleia de Representantes da FEUP:
<ul>
    <li>Representante dos docentes de 1996-1998, 1998-2001, 2001-2003, 2004-2006, 2006-...</li>
<li>Em 21 de Abril de 2001 foi eleito Vice-Presidente da Assembleia de Representantes, cargo em que continuou a ser eleito em subsequentes eleições até fevereiro de 2009.</li>
</ul></p>

<p>Foi eleito para o Conselho Científico da FEUP:
<ul>
    <li>Representante dos Professores Associados de 2002-2003.</li>
    <li>Representante dos Professores Catedráticos de 2003-2010.</li>
<li>Membro 2010/...</li>
</ul></p>

<p>Foi membro da Comissão Coordenadora do Conselho Científico da FEUP, de junho de 2006 a março de 2010, sendo membro da Estrutura de Coordenação dos Departamentos da FEUP, de março de 2010/...</p>

<p>Indicado pela Assembleia Geral do INEGI, sob proposta do Conselho de Departamento do DEMEGI:
<ul>
<li>Presidente da Direção do INEGI; abril 1997-abril 2000</li>
 </ul>
</p>

<p>Foi eleito Diretor do DEMEGI, posteriormente DEMec em Dezembro de 2005, tendo tomado posse do cargo em Março de 2006. Foi reconduzido em novembro de 2010.</p>