<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/bernardo-almada-lobo.jpg" class="photo"><br/>
<span class="name">Bernardo Sobrinho Simões de Almada-Lobo</span><br/>
<span class="department">DEGI – Departamento de Engenharia e Gestão Industrial</span><br/>
<span class="position">Professor Associado</span><br/>
<span class="email"><a href="mailto:almada.lobo@fe.up.pt">almada.lobo@fe.up.pt</a></span><br/>

<p>Bernardo Almada-Lobo é licenciado em Gestão e Engenharia Industrial pela FEUP, e doutorado em Engenharia Industrial e Gestão pela FEUP.</p>

<p>A sua área principal de intervenção é Management Science / Investigação Operacional. Desenvolve e aplica modelos e métodos analíticos avançados para auxiliar a tomada de melhores decisões, resolvendo problemas de gestão em vários domínios (indústria, saúde, retalho e mobilidade), com especial enfoque na Gestão de Operações. É coordenador do grupo de trabalho europeu na área de Dimensionamento de Lotes de Produção.</p>

<p>É diretor-adjunto do Programa Doutoral em Engenharia Industrial e Gestão, vice-diretor académico do IBM CAS Portugal, coordenador do Centro de Engenharia e Gestão Industrial (CEGI) do INESC TEC e Presidente não-executivo da JuniFEUP.</p>