<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/diana-urbano.jpg" class="photo"><br/>
<span class="name">Diana Maria Carreira Pires Urbano</span><br/>
<span class="department">DEF – Departamento de Engenharia Física</span><br/>
<span class="position">Professora Auxiliar</span><br/>
<span class="email"><a href="mailto:urbano@fe.up.pt ">urbano@fe.up.pt</a></span><br/>

<p>Diana Urbano é licenciada em Física – Ramo Científico - pela Faculdade de Ciências e Tecnologia da Universidade de Coimbra, FCTUC, e Mestra em Física Teórica pela mesma Faculdade. Realizou os estudos com vista à obtenção do grau de doutoramento em Bochum – Alemanha, e doutorou-se em 2001 pela FCTUC.</p> 

<p>Tem desenvolvido a sua investigação na área da Física da Partículas e do Núcleo, estudando em particular as propriedades do nucleão, como fatores de forma e funções de distribuição de partões, no modelo solitónico quiral com quarks.</p> 

<p>Recentemente tem-se dedicado à aplicação e ao desenvolvimento de métodos ativos e colaborativos de ensino da Física para as engenharias, estudando o impacto desses métodos na motivação, na mudança de hábitos e no sucesso académico dos estudantes.</p>

<p>É membro da Comissão Executiva do DEF, do Conselho de Departamento do DEF e da Comissão Científica do Programa de Formação Contínua.</p>