<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/joao-falcao-e-cunha.jpg" class="photo"><br/>
<span class="name">João Bernardo de Sena Esteves Falcão e Cunha</span><br/>
<span class="department">DEGI – Departamento de Engenharia e Gestão Industrial
</span><br/>
<span class="position">Professor Catedrático</span><br/>
<span class="email"><a href="mailto:jfcunha@fe.up.pt">jfcunha@fe.up.pt</a></span><br/>

<p>João Falcão e Cunha é licenciado em Engenharia Eletrotécnica e de Computadores pela FEUP, 1983, mestre em Investigação Operacional pela Universidade de Cranfield, 1984, e doutorado em Ciências de Computação pelo Imperial College London, 1989.</p>

<p>Tem estado envolvido em trabalho experimental e teórico em Engenharia Informática, Sistemas de Informação e Gestão Industrial nos últimos 25 anos. É diretor do MIEIG e do MESG, coordenador do programa MOBILE, diretor académico do IBM CAS Portugal e delegado nacional ao Horizonte 2020, Transportes Inteligentes, Ecológicos e Integrados.</p>

<p>Integrou na FEUP a Comissão Executiva do Conselho Diretivo, a Comissão Coordenadora do Conselho Científico, foi vice-presidente do Conselho Pedagógico e membro por inerência do Senado da UP, 2001-2003. Foi Diretor do Programa Doutoral em Engenharia Industrial e Gestão, FEUP 2003-2010. Foi ainda presidente do Colégio de Engenharia Informática, Ordem dos Engenheiros 2007-2010, e membro da equipa de direção nacional do Programa CMU Portugal, 2007-2009.</p>