<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/jose-melo-orfao.jpg" class="photo"><br/>
<span class="name">José Joaquim de Melo Órfão</span><br/>
<span class="department">DEQ – Departamento de Engenharia Química</span><br/>
<span class="position">Professor Associado</span><br/>
<span class="email"><a href="mailto:jjmo@fe.up.pt">jjmo@fe.up.pt</a></span><br/>

<p>José Melo Órfão é licenciado em Engenharia Química (1976) e doutorado em Engenharia Química (1987) pela FEUP.</p>

<p>É autor/coautor de 122 artigos em revistas científicas internacionais (ISI), de cerca de 20 capítulos em livro e de mais de 200 comunicações em encontros científicos. Orientou/coorientou 10 teses de doutoramento concluídas e 7 teses de mestrado.</p>

<p>Desde 1977 tem estado envolvido no ensino de várias unidades curriculares do curso de Engenharia Química da FEUP e, mais recentemente, do Mestrado Integrado em Engenharia do Ambiente.</p>

<p>Recebeu o Prémio FEUP de Excelência Pedagógica em Janeiro de 2014.
É membro eleito do Conselho de Departamento do Departamento de Engenharia Química da FEUP.</p>