<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/jose-pedro-tavares.jpg" class="photo"><br/>
<span class="name">José Pedro Maia Pimentel Tavares</span><br/>
<span class="department">DEC - Departamento de Engenharia Civil</span><br/>
<span class="position">Professor Auxiliar</span><br/>
<span class="email"><a href="mailto:ptavares@fe.up.pt ">ptavares@fe.up.pt </a></span><br/>

<p>José Pedro Tavares é licenciado em Engenharia Civil pela FEUP, 1989, mestre em Transportes pelo Instituto Superior Técnico, 1995, e doutorado em Engenharia Civil pela FEUP, 2004.</p>

<p>Ingressou na FEUP, na Secção de Vias de Comunicação do Departamento de Engenharia Civil, em 1993, tendo estado envolvido na docência, em projetos de investigação, a nível nacional e europeu, e em trabalhos de colaboração com o exterior na área dos Transportes e Vias de Comunicação.</p>