<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/joaquim-gois.jpg" class="photo"><br/>
<span class="name">Joaquim Eduardo Sousa Góis</span><br/>
<span class="department">DEM – Departamento de Engenharia de Minas</span><br/>
<span class="position">Professor Auxiliar</span><br/>
<span class="email"><a href="mailto:jgois@fe.up.pt">jgois@fe.up.pt</a></span><br/>

<p>Joaquim Eduardo Sousa Góis é licenciado em Engenharia de Minas pela FEUP, 1990, mestre em Mineralurgia e Planeamento Mineiro pelo Instituto Superior Técnico, 1993, e doutorado em Ciências de Engenharia pela Faculdade de Engenharia da Universidade do Porto, 2003.</p>

<p>Tem vindo a desenvolver, nos últimos 24 anos, a sua atividade de investigação nos domínios da Geoestatística e da Estatística Multivariada aplicada às Ciências da Terra. É, desde 2014, membro integrado do CERENA - Centre for Natural Resources and the Environment. Colabora, desde 2008, como investigador no ISPUP - Instituto de Saúde Pública da Universidade do Porto. Foi membro integrado do CIGAR - Centro de Investigação em Geo-Ambiente e Recursos 2003 – 2014. Foi membro do CEGER – Centro de GeoRecursos, Unidade de Investigação & Desenvolvimento 1994 – 2001.</p>

<p>É, desde 1993, membro do Conselho de Departamento do DEM e integra, desde 2001 a sua Comissão Executiva. É, desde, 2012 diretor da Universidade Itinerante do Mar e, desde 2014, membro da direção do Oceanus - Marine Research & Innovation. Ocupa, desde 2009, diversos cargos no colégio de Engenharia Geológica e de Minas, da Ordem dos Engenheiros sendo, desde 2013, o coordenador deste colégio na região norte.</p>