<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/maria-antonia-carravilla.jpg" class="photo"><br/>
<span class="name">Maria Antónia Carravilla</span><br/>
<span class="department">DEGI - Departamento de Engenharia e Gestão Industrial</span><br/>
<span class="position">Professora Associada com Agregação</span><br/>
<span class="email"><a href="mailto:mac@fe.up.pt">mac@fe.up.pt</a></span><br/>

<p>Maria Antónia Carravilla é docente na Faculdade de Engenharia da Universidade do Porto (FEUP) desde 1985. É atualmente Professora Associada com Agregação do Departamento de Engenharia e Gestão Industrial da FEUP e é também investigadora sénior do INESC TEC.</p>

<p>Os seus interesses de investigação relacionam-se com o apoio à decisão e a gestão de operações e logística, e participou em vários projetos de I&D em que estes problemas foram abordados com recurso à programação por restrições. Os resultados da sua investigação são regularmente publicados nas revistas científicas mais conceituadas dessas áreas. Participou em vários projetos de relevo com a indústria e serviços, relacionados com o desenvolvimento de sistemas de apoio à decisão.</p>

<p>Ao longo da sua carreira académica lecionou várias unidades curriculares relacionadas com Investigação Operacional, incluindo Teoria da Decisão tanto a nível graduado como pós-graduado, com especial ênfase na modelação. Recebeu o Prémio de Excelência Pedagógica da FEUP em 2009, primeiro ano em que esse prémio foi atribuído.</p>

<p>Maria Antónia Carravilla foi membro da Comissão Executiva da FEUP como Pró-Diretora para o Planeamento e Controlo de 2003 a 2010 e foi responsável pelo Gabinete de Gestão da FEUP desde o seu início e até 2010. No âmbito das suas responsabilidades no Gabinete de Gestão desenvolveu modelos para apoiar a tomada de decisão em Instituições de Ensino Superior (IES), incluindo a avaliação da carga de trabalho do corpo docente, o benchmarking internacional de instituições de ensino superior e a sustentabilidade das IES.</p>