<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/cristina-ribeiro.jpg" class="photo"><br/>
<span class="name">Maria Cristina de Carvalho Alves Ribeiro</span><br/>
<span class="department">DEI – Departamento de Engenharia Informática</span><br/>
<span class="position">Professora Auxiliar</span><br/>
<span class="email"><a href="mailto:mcr@fe.up.pt">mcr@fe.up.pt</a></span><br/>

<p>Cristina Ribeiro é licenciada em Engenharia Eletrotécnica pela FEUP (1981), mestre em Engenharia Eletrotécnica e de Computadores pelo IST (1985) e doutorada em Informática pela Universidade Nova de Lisboa em 1994.</p>

<p>É responsável por unidades curriculares no mestrado e doutoramento em Engenharia Informática e na licenciatura e mestrado em Ciência da Informação nas áreas de recuperação de informação, bibliotecas digitais, representação de conhecimento e linguagens de anotação. Tem colaborado e sido responsável por projetos nas áreas do património cultural, recuperação de informação e preservação digital.</p>

<p>Os seus interesses de investigação atuais são a recuperação de informação, a preservação digital e a gestão de dados de investigação. Orientou 7 teses de doutoramento e 26 de mestrado.</p>

<p>É membro da Comissão Executiva do DEI e da Comissão Científica do Mestrado em Ciência da Informação. É responsável pelo laboratório SAPO/U.Porto e investigadora do INESC TEC.</p>