<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/manuel-alves.jpg" class="photo"><br/>
<span class="name">Manuel António Moreira Alves</span><br/>
<span class="department">DEQ – Departamento de Engenharia Química</span><br/>
<span class="position">Professor Auxiliar</span><br/>
<span class="email"><a href="mailto:mmalves@fe.up.pt">mmalves@fe.up.pt</a></span><br/>

<p>Manuel António Moreira Alves é licenciado em Engenharia Química (1995) e doutorado em Engenharia Química (2004) pela FEUP.</p>

<p>Desde 1995 tem lecionado na FEUP diversas unidades curriculares dos cursos de Engenharia Química, Bioengenharia e Engenharia do Ambiente.</p>

<p>Na sua investigação, dedica-se ao estudo experimental e numérico do escoamento de fluidos complexos na micro-escala. É co-autor de mais de oitenta artigos científicos publicados em revistas internacionais, e já apresentou mais de três dezenas de comunicações em congressos nacionais e internacionais, ou em universidades estrangeiras por convite.</p>

<p>Coordenou diversos projetos de investigação, destacando-se a “ERC Starting Grant” atribuída em 2012 pelo “European Research Council”, com financiamento de 1 milhão de euros.</p>

<p>É diretor adjunto e membro da comissão científica do Mestrado Integrado em Engenharia Química, e membro do Conselho de Departamento do Departamento de Engenharia Química.</p>
