<a href="#/candidatos-suplentes"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/manuel-pereira-ricardo.jpg" class="photo"><br/>
<span class="name">Manuel Alberto Pereira Ricardo</span><br/>
<span class="department">DEEC – Departamento de Engenharia Eletrotécnica e Computadores</span><br/>
<span class="position">Professor Associado com Agregação</span><br/>
<span class="email"><a href="mailto:mricardo@fe.up.pt">mricardo@fe.up.pt</a></span><br/>

<p>Manuel Alberto Pereira Ricardo tem Licenciatura, Mestrado, Doutoramento e Agregação em Engenharia Eletrotécnica e de Computadores, na especialização de Telecomunicações, pela Faculdade de Engenharia da Universidade do Porto (FEUP).</p>

<p>É docente na FEUP desde 1997 onde leciona unidades curriculares de redes de computadores e comunicações móveis em programas de mestrado e programas doutorais.</p>

<p>Os seus interesses de investigação incluem arquiteturas e protocolos de redes de comunicações, gestão de recursos rádio, qualidade de serviço e teste de sistemas de comunicações. É coordenador do Centro de Telecomunicações e Multimédia (CTM) do INESC TEC.</p>
