<a href="#/candidatos"><img src="images/close.png" class="close"></a>
<img src="images/candidatos/rui-calcada.jpg" class="photo"><br/>
<span class="name">Rui Artur Bártolo Calçada</span><br/>
<span class="department">DEC – Departamento de Engenharia Civil
</span><br/>
<span class="position">Professor Associado com Agregação</span><br/>
<span class="email"><a href="mailto:ruiabc@fe.up.pt">ruiabc@fe.up.pt</a></span><br/>

<p>Rui Artur Bártolo Calçada é licenciado em Engenharia Civil pela FEUP, 1992, mestre em Estruturas de Engenharia Civil pela FEUP, 1996, e doutorado em Engenharia Civil pela Universidade do Porto, 2003. Realizou provas de agregação em Engenharia Civil em 2013.</p>

<p>Tem estado envolvido em trabalho experimental e numérico relacionado com o comportamento dinâmico de infraestruturas ferroviárias nos últimos 20 anos. Foi responsável por 12 projetos de investigação e membro da equipa de 10 projetos de investigação (nacionais e europeus) na área da ferrovia. É coordenador do CSF – Centro de Saber da Ferrovia da FEUP. Desde 2003 é membro integrado do CEC – Centro de Estudos da Construção e desde 2010 é membro eleito do Conselho do Departamento de Engenharia Civil.</p>

<p>Desde 2012 é membro da direção do IC – Instituto da Construção. É, desde 2009, Vice-Presidente da Direcção do CERUP – Centro de Riscos da Universidade do Porto e, desde 2013, membro do Board of Studies do Programa Doutoral FCT Infrarisk.</p>