<div class="head">
<a class="heading active left" href="#candidatos">Candidatos Efectivos</a> 
<a class="heading right" href="#candidatos-suplentes">Candidatos Suplentes</a>
</div>


<div class="candidat" ng-repeat="candidat in candidats.candidats | filter : {type : 'effective'} ">
    <a href="#/{{candidat.id}}"><img src="images/candidatos/{{candidat.image}}"/></a><br/>
    <span class="name">{{candidat.name}}</span><br/>
    <span class="position">{{candidat.position}}</span><br/>
    <span class="department">{{candidat.department}}</span>
</div>
