<h1>Proposta da Lista</h1>
<ol class="index">
    <li><a ng-click="scrollTo('sumario')">Sumário da Proposta</a></li>
    <li><a ng-click="scrollTo('composicao')">Composição, Funções e Ações do Conselho de Representantes</a></li>
    <li><a ng-click="scrollTo('missao')">Missão e Visão Estratégica</a></li>
    <li><a ng-click="scrollTo('linhas-orientadoras')">Linhas Orientadoras</a>
        <ol>
            <li><a ng-click="scrollTo('envolvimento')">Envolvimento e Valorização de Docentes, Investigadores e Técnicos</a></li>
            <li><a ng-click="scrollTo('educacao')">Educação, Investigação e Inovação</a></li>
            <li><a ng-click="scrollTo('cultura')">Cultura, Desporto e Responsabilidade Ambiental e Social</a></li>
            <li><a ng-click="scrollTo('gestao')">Gestão</a></li>
        </ol>
    </li>
    <li><a ng-click="scrollTo('notas')">Notas finais</a></li>
</ol>

<h2 id="sumario">1. Sumário da Proposta</h2>
<p>A FEUP é a maior e uma das melhores unidades orgânicas da UP com cerca de 8200 estudantes, 550 docentes e investigadores e 330 técnicos e dirigentes («FEUP em números 2013»), com impacto local, nacional e internacional.</p>

<p>O ciclo de expansão do ensino universitário iniciado na década de 70 do século XX terminou e assiste-se a alterações económicas e sociais profundas que requerem uma nova estratégia de médio e longo prazo para a FEUP.</p>

<p>É assim necessário preparar a FEUP para o futuro, antecipando as mudanças de paradigmas, as necessidades da sociedade, procurar influenciar as políticas públicas e mobilizar a sociedade civil.</p>

<p>Este documento apresenta as principais orientações propostas para o Conselho de Representantes. Propõe-se em particular que venha a participar ativamente na definição e manutenção de estratégias a médio e longo prazo, no contexto da Missão e Visão preconizadas para a FEUP.</p>

<p>As linhas de orientação propostas, num ambiente onde a internacionalização e a interdisciplinaridade assumem uma relevância crescente para todos os seus técnicos, docentes, investigadores e estudantes, são apresentadas nas seguintes vertentes:
    <ul>
        <li>Envolvimento e Valorização de Docentes, Investigadores e Técnicos;</li>
        <li>Educação, Investigação e Inovação;</li>
        <li>Cultura, Desporto e Responsabilidade Ambiental e Social;</li>
        <li>Gestão.</li>
</ul>
</p>

<p>Toda a FEUP, juntamente com os seus parceiros mais próximos, deverá liderar a nível europeu algumas áreas específicas de investigação, conseguindo obter valor através de resultados inovadores e aprofundando a qualidade do processo de educação aos vários níveis e dimensões.</p>

<p>A complexidade da FEUP e os novos desafios que enfrenta requerem no nosso entender uma gestão transparente, com subsidiariedade e descentralização, garantindo uma maior autonomia e responsabilização.</p>

<p>Esperamos assim ajudar a preparar a FEUP para as próximas décadas, permitindo-lhe aumentar a sua influência nacional e internacional.</p>

<h2 id="composicao">2. Composição, Funções e Ações do Conselho de Representantes</h2>
<p>O Conselho de Representantes – composto por nove representantes doutorados dos docentes ou investigadores, três representantes dos estudantes, um representante do pessoal técnico ou dirigente e duas personalidades externas cooptadas pelos restantes membros do Conselho – é o órgão de representação de toda a Comunidade FEUP.</p>

<p>Destaca-se, nas suas funções, a eleição do Diretor da FEUP, a apreciação dos atos do Diretor e do Conselho Executivo, a aprovação das alterações dos estatutos da FEUP, bem como a decisão sobre a criação, fusão, transformação e extinção das suas unidades de investigação, ouvido o Conselho Científico. Por outro lado, e sob proposta do Diretor, deve discutir e aprovar as propostas dos planos estratégicos, o plano de ação para o quadriénio do mandato do Diretor e as linhas gerais de orientação da FEUP no plano científico, pedagógico e financeiro, podendo criar, transformar ou extinguir subunidades orgânicas.</p>

<p>No âmbito da sua ação, o Conselho de Representantes pode ainda propor iniciativas que considere necessárias ao bom funcionamento da instituição.</p>

<p>Em colaboração com a Direção da FEUP, e envolvendo sempre toda a Comunidade FEUP, propomo-nos:
    <ul>
        <li>Preparar as linhas estratégicas a médio e longo prazo, nas áreas em que existe autonomia no enquadramento da UP;</li>
        <li>Contribuir para uma maior interação com a comunidade empresarial, acompanhando a Direção na promoção de uma imagem integradora das muitas e diversas competências existentes;</li>
        <li>Representar sempre a FEUP tal como ela é: aberta ao exterior e forte na sua diversidade.</li>
</ul>
</p>

<h2 id="missao">3. Missão e Visão Estratégica</h2>
<p>Compete ao Conselho de Representantes a aprovação do plano estratégico para a FEUP, sob proposta do seu Diretor. Defendemos que tal plano deverá retratar uma FEUP mais integradora, coesa, ambiciosa, com ainda maior notoriedade internacional, com uma intervenção compatível com o serviço público de excelência, tendo por base a missão e a visão estratégica que se apresentam de seguida:</p>

<b>Missão:</b>
<p>A FEUP desenvolve atividade de educação, investigação e inovação de nível internacional. Em conformidade, são resultados desta atividade a criação, transmissão e difusão de conhecimento, a formação de profissionais competentes e éticos, e futuros líderes na área de engenharia e afins, e a promoção do bem-estar da sociedade global.</p>

<b>Visão Estratégica:</b>
<p>A FEUP consolidará o estatuto de melhor Escola de Engenharia em Portugal e será uma referência entre as Escolas Europeias de Engenharia, por forma a continuar a atrair e cativar os melhores estudantes. Para tal terá de:
    <ul>
        <li>Avançar as fronteiras do conhecimento;</li>
        <li>Preparar as próximas gerações de engenheiros, investigadores e académicos, que criem valor para as suas organizações e comunidades, contribuindo para um mundo sustentável;</li>
        <li>Reforçar a qualidade internacional de todos os ciclos de estudo;</li>
        <li>Ser líder na investigação e formação de 3º ciclo;</li>
        <li>Ser uma instituição de ponta na transferência de conhecimento e tecnologia para as empresas e outras organizações;</li>
        <li>Antecipar as mudanças de paradigmas e as necessidades da sociedade;</li>
        <li>Influenciar as políticas públicas e mobilizar a sociedade civil.</li>
</ul>
</p>

<h2 id="linhas-orientadoras">4. Linhas Orientadoras</h2>
<p>As linhas de orientação propostas, num ambiente onde a internacionalização e a interdisciplinaridade assumem uma relevância crescente para todos os seus técnicos, docentes, investigadores e estudantes, são apresentadas nas seguintes vertentes:
    <ul>
        <li>Envolvimento e Valorização de Docentes, Investigadores e Técnicos;</li>
        <li>Educação, Investigação e Inovação;</li>
        <li>Cultura, Desporto e Responsabilidade Ambiental e Social;</li>
        <li>Gestão.</li>
</ul>
</p>

<h3 id="envolvimento">4.1 Envolvimento e Valorização de Docentes, Investigadores e Técnicos</h3>
<p>A UP alterou o seu modelo de organização, pela via estatutária, de um modelo participativo de coordenação para um modelo diretivo que tem vindo a ser implementado nos últimos anos.</p>

<p>A implementação deste modelo, com a mudança subjacente, conduziu a um reduzido envolvimento da Comunidade FEUP na organização da vida académica, em circunstâncias agravadas pelas restrições orçamentais dos tempos atuais.</p>

<p>No entanto, a autonomia da FEUP nos planos científico, pedagógico e financeiro permite, e obriga-nos, a melhorar a organização evoluindo para um modelo que envolva todos os docentes, investigadores e técnicos de forma participativa, ativa e inclusiva. Um envolvimento participativo obriga a instituição quer a valorizar a atividade académica individual em todas as suas vertentes, enquadrando-a na sua estratégia, quer a planear e desenvolver ações que a potenciem.</p>

<p>A valorização efetiva das diversas componentes do trabalho universitário no quadro atual da Missão Universitária é um fator determinante para dinamizar o envolvimento da Comunidade Académica na vida da FEUP, potenciando o sucesso desta na sua Missão.</p>

<p>São objetivos prioritários para o próximo quadriénio:
    <ul>
        <li>No quadro da tomada de iniciativas necessárias ao bom funcionamento da instituição, estabelecer um quadro de objetivos científicos, pedagógicos e societais alinhados com a estratégia da FEUP. Os objetivos, com metas bem definidas, devem permitir às diferentes unidades, quer de I&D, quer departamentais, melhorar o seu desempenho nestas três componentes da missão. Um quadro estratégico claro permitirá às unidades e aos docentes, investigadores e técnicos potenciar o seu melhor no sucesso da FEUP;</li>
        <li>Participar na eleição de um Diretor que, nas linhas gerais de orientação da FEUP nos planos científico, pedagógico e financeiro, proponha ações concretas que potenciem a valorização de docentes, investigadores e técnicos, nomeadamente:
            <ul>
                <li>Revisão do Regulamento de Avaliação dos docentes seguindo duas linhas: simplificação da valorização de resultados parcelares e individuais; valorização personalizada das diversas vertentes da atividade universitária, incentivando cada um a ser melhor na atividade em que é melhor;</li>
                <li>Oferta de formação contínua em domínios relevantes, científicos, técnicos ou pedagógicos, por especialistas conceituados;</li>
                <li>Dinamização de espaços organizados e estruturados, do tipo centro de excelência ou de saber, que potenciem a atividade científica.</li>
            </ul>
        </li>
</ul>
</p>

<h3 id="educacao">4.2 Educação, Investigação e Inovação</h3>
<p>A FEUP deve ser uma referência internacional na atividade de educação, investigação e inovação. Considerando que estas três áreas de intervenção estão fortemente interligadas e têm de ser planeadas de forma integrada, o Conselho de Representantes deve garantir que o plano de ação cumpra este objetivo, procurando nomeadamente:
    <ul>
        <li>Reforçar o envolvimento e a responsabilidade do Conselho Científico e do Conselho Pedagógico nas decisões estratégicas;</li>
        <li>Promover a aprendizagem ativa e colaborativa no ensino presencial, assente na criação de espaços/salas que facilitem a interação professor/estudante e em métodos que potenciam o envolvimento, a motivação, a mudança de atitudes e o sucesso escolar;</li>
        <li>Promover uma análise integrada dos processos de ensino e aprendizagem com o processo de avaliação, de modo que o sucesso escolar corresponda a uma aprendizagem efetiva;</li>
        <li>Definir estratégias de combate ao insucesso e ao abandono escolar;</li>
        <li>Melhorar a articulação entre o conhecimento existente nos centros e laboratórios de investigação e os seus planos educativos, com o objetivo de definir propostas formativas que sejam simultaneamente diferenciadoras e relevantes para a região;</li>
        <li>Dar visibilidade ao ensino na FEUP através da criação de conteúdos de ensino à distância, em português e em inglês, que sirvam de apoio aos estudantes da FEUP, que sejam uma referência para os estudantes de escolas de engenharia de todo o mundo, e que contribuam para a captação de estudantes estrangeiros;</li>
        <li>Definir uma política para a externalização das ofertas formativas do 1º e 2º ciclo considerando cenários de globalização do ensino superior. Esta política poderá considerar aspetos relacionados com a virtualização de cursos e sua disponibilização em pontos selecionados de procura, eventualmente feito em parceria com universidades locais;</li>
        <li>Melhorar e diversificar as ofertas formativas do 3º ciclo. Em áreas de reconhecida competência dos centros e laboratórios de investigação deverão ser definidos programas doutorais. Estes programas poderão ser simultaneamente diferenciadores e relevantes para a região, com uma forte relação empresarial;</li>
        <li>Definir um plano para atração de estudantes internacionais de qualidade para frequência de programas do 3º ciclo. A experiência de alguns programas doutorais, com níveis assinaláveis de colaboradores internacionais, permite caracterizar a rede de influência e os problemas associados a esta captação. A FEUP, em forte articulação com a UP e seus centros de investigação e institutos de interface, deverá promover e liderar um ambicioso e sustentado programa com estes objetivos;</li>
        <li>Reforçar a oferta de formação contínua oferecida, baseada numa análise cuidada das necessidades da sociedade e empresas, dos interesses científicos e da capacidade do seu corpo docente;</li>
        <li>Promover e concretizar uma política de I&D&I que permita compensar a organização já estabelecida pela FCT, da qual resulta uma significativa dispersão de unidades de investigação;</li>
        <li>Apoiar a participação em redes internacionais de excelência;</li>
        <li>Garantir a presença em plataformas estratégicas, particularmente a nível europeu;</li>
        <li>Reforçar o gabinete H2020 desenvolvendo algum tipo de cooperação funcional com gabinetes equivalentes dos institutos de interface bem como aproveitando a experiência acumulada por docentes e investigadores;</li>
        <li>Reforçar as ligações entre a FEUP, a sociedade, empresas e outras organizações, que potenciem transferência de conhecimento, uma atitude mais empreendedora de estudantes e investigadores, que possam levar à criação de novos produtos e serviços, em articulação com a UPTEC, UPIN e outras unidades orgânicas da UP;</li>
        <li>Reforçar a imagem da FEUP como prestadora de serviços junto de instituições e empresas, potenciando e tirando partido das competências instaladas nos institutos de interface, nomeadamente nas relações com as empresas da região, prestação de serviços e metodologias associadas à criação de inovação;</li>
        <li>Afirmar a marca FEUP, dentro da marca UP, a dois níveis: mantendo e reforçando a qualidade da formação a nível nacional e internacional; melhorando a visibilidade dos resultados de I&D&I por agregação de sinergias de todas as unidades e institutos.</li>
</ul>
</p>    

<h3 id="cultura">4.3 Cultura, Desporto e Responsabilidade Ambiental e Social</h3>
<p>A FEUP tem vindo a afirmar-se como uma faculdade aberta e recetiva à cultura e à intervenção de caráter social. São já inúmeras, e de qualidade, as atividades que vêm sendo desenvolvidas nos últimos anos nestes contextos, que interessa acarinhar e incentivar.</p>

<p>Considerando a relevância da cultura, desporto e responsabilidade ambiental e social, o Conselho de Representantes defende o fomento de iniciativas que permitam:
    <ul>
        <li>Dar continuidade à atividade cultural que vem sendo desenvolvida nas áreas de expressão literária, teatral, musical e plástica, criando condições para o aumento da respetiva visibilidade e participação em geral por parte de toda a Comunidade FEUP;</li>
        <li>Celebrar novos protocolos de colaboração com agentes culturais, em particular com os mais relacionados com a cidade e a região, que propiciem a produção artística e cultural em ambiente FEUP e mesmo em ambiente exterior, assim como uma relação interinstitucional mais próxima que potencie outros trabalhos, nomeadamente de I&D&I em temas enquadráveis;</li>
        <li>Desenvolver novos programas de divulgação de ciência e de engenharia especialmente orientadas para o público em geral. É principal preocupação a atenção a dar a públicos mais jovens, numa atitude de divulgação dos cursos e captação de estudantes dedicados e motivados;</li>
        <li>Defender um melhor aproveitamento dos recursos desportivos, em particular os da UP e mais próximos, assim como o incentivo à prática desportiva aberta a toda a Comunidade FEUP e a realização de provas desportivas, em variadas modalidades, e eventos desportivo-culturais;</li>
        <li>Promover atitudes e processos de defesa ambiental no interior do campus que respeitem as mais avançadas técnicas de proteção ambiental;</li>
        <li>Criar um observatório de cariz social orientado para o acompanhamento da Comunidade FEUP, com especial incidência nos seus estudantes;</li>
        <li>Apoiar as organizações de voluntariado social, quer da FEUP quer da região, na forma de eventos solidários e da promoção do voluntarismo, para o qual se encontra um potencial muito grande na Comunidade FEUP.</li>
</ul>
</p>

<h3 id="gestao">4.4 Gestão</h3>
<p>No exercício das competências atribuídas ao Conselho de Representantes, com influência na gestão da FEUP, propomos defender a aplicação de princípios orientados para o desenvolvimento sustentável da nossa Faculdade, tendo por base uma subsidiariedade que garanta uma maior autonomia e responsabilização de cada Departamento, no contexto da regulamentação da FEUP e da UP, na execução do orçamento e na gestão e valorização das pessoas.</p>

<p>
<b>A relação com a UP e unidades orgânicas:</b>
<ul>
    <li>Exigência institucional com a qualidade dos serviços da UP, medida através da definição de níveis de serviço, que promova uma gestão eficiente e célere;</li>
    <li>Intensificação da relação com outras unidades orgânicas e institutos que permitam obter sinergias na educação, investigação e inovação.</li>
</ul>
</p>

<p>
<b>A relação com os Institutos de Investigação outras Unidades Orgânicas:</b>
<ul>
    <li>Melhoria da interação da FEUP com Institutos de Investigação e outras Unidades Orgânicas associadas onde os docentes desenvolvem a sua atividade de I&D&I, de modo que a área de intervenção da FEUP e a sua marca seja alargada a toda a sua dimensão;</li>
    <li>Promoção de uma colaboração mais ativa e transparente com Institutos de Investigação e outras Unidades Orgânicas associadas em áreas conjuntas, de forma a aumentar a competitividade de todos os docentes e investigadores no acesso a fundos europeus, bem como a clarificar a cedência de recursos (pessoas e espaços) através da assinatura de contratos/protocolos.</li>
</ul>
</p>

<p>
<b>A relação com os Colaboradores e outros Recursos:</b>
    <ul>
        <li>Uma gestão baseada em objetivos qualitativos e quantitativos, quer individuais quer coletivos;</li>
        <li>Reforço dos mecanismos de promoção e de progressão nas carreiras docente, de investigação e de técnico, baseados numa avaliação objetiva e equitativa, e garantindo a sustentabilidade;</li>
        <li>Melhoria dos espaços físicos, instalações e equipamentos, em particular para atividades relacionadas com a qualidade dos processos de ensino, aprendizagem e avaliação de estudantes.</li>
    </ul>
</p>

<p>
<b>A relação com os Departamentos:</b>
    <ul>
    <li>Uma gestão transparente, responsabilizante e naturalmente diferenciada pelas especificidades e necessidades de cada Departamento, mas que procura integrar a participação de todos;</li>
    <li>Princípio da transparência na definição dos recursos dos Departamentos baseada em regras claras e amplamente discutidas, nomeadamente:
        <ul>
            <li>Na definição do quadro docente e técnico dos Departamentos;</li>
            <li>Na definição dos orçamentos dos Departamentos;</li>
            <li>Na atribuição de espaços aos Departamentos.</li>
        </ul>
    </li>
    </ul>
</p>

<h1 id="notas">5. Notas finais</h1>
<p>As alterações económicas e sociais profundas que se iniciaram com o processo de globalização, e que atingiram significativamente Portugal nos últimos anos, requerem uma nova estratégia de médio e longo prazo para a FEUP.</p>

<p>Os desafios presentes e a complexidade da FEUP e da sua envolvente no contexto da UP requerem o envolvimento de todos para enfrentar com equilíbrio e sucesso os vários desafios na educação, investigação e inovação.</p>

<p>Esperamos com esta nossa candidatura ajudar a preparar a FEUP para o futuro, permitindo-lhe aumentar a sua influência nacional e internacional, com satisfação e benefícios para todos, garantindo assim um aprofundamento contínuo do exercício da sua Missão.</p>

<p><i>«Para vencer — material ou imaterialmente — três coisas definíveis são precisas: saber trabalhar, aproveitar oportunidades, e criar relações. O resto pertence ao elemento indefinível, mas real, a que, à falta de melhor nome, se chama sorte.»</i>
<br/>
Fernando Pessoa, “Revista de Comércio e Contabilidade”, 1926</p>
